<h1>Stupid Coach</h1>
 <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= params[:question] %></h5>
        <p class="card-text">-You</p>
      </div>
    </div>
  </div>

 <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @answer %></h5>
        <p class="card-text">-Your coach</p>
      </div>
    </div>
  </div>


<a href="http://127.0.0.1:3000/ask">Ask a new question</a>
