<h1>Stupid Coach</h1>
<p>ask your coach anything</p>
  <form class="row g-3"action="/answer" data-turbo="false">
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden"></label>
      <input type="password" class="form-control" id="inputPassword2" type="text" name="question">
    </div>
    <div class="col-auto">
      <button type="submit" value="Ask!" class="btn btn-primary mb-3">Ask</button>
    </div>
  </form>
